name: Build Gradle Spring Boot Artifact

on:
  push:
    branches:
      - main
      - master
      - feature/*
    paths:
      - "gradle-main-poc/**"
  workflow_dispatch: 
  pull_request:
    paths:
      - "gradle-main-poc/**"

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: gradle-main-poc

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: gradle-spring-boot-app
          path: gradle-main-poc/build/libs/*.jar
